<div class="recent">
	<div class="subject-area title-before">
		<label class="ellipsis">최근 작성된 게시글</label>
	</div>
	<div class="grid list-area">
	{% for post in site.posts limit:5 %}
		<div class="grid row">
			<div class="title ellipsis">
				<a class="" href="{{ post.url }}"> {{ post.title }}</a>
			</div>
			<div class="info">
				<span class="date">{{ post.date | date: "%y-%m-%d %H:%M" }}</span>
				<span class="writer">{{ post.writer }}</span>
			</div>
		</div>
	{% endfor %}
	</div>
</div>
