.post-list {
    row-gap: 4px;
    margin-bottom: 8px;

    .row {
        grid-template-columns: auto;
        padding: 4px;

        &:hover {
            background-color: var(--grid-row-background-color-hover);
            & * {
                color: var(--grid-row-color-hover);
            }
        }

        & .title {
            font-size: 20px;
            font-weight: 600;
        }

        & .date {}
    }
}