.grid {
	&.main-article {
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(2, minmax(100px, 200px));
		row-gap: 5px;
		column-gap: 10px;

		& > div {
			background-color: var(--sec-div-background);
		}

		& .grid-item {
			&.first {
				grid-column: 1 / span 1;
				grid-row: 1 / span 2;
			}

			&.one-line {
				grid-column: 1 / span 2;
			}
		}
	}
}

.recent {
	--subject-height: 30px;
	--bottom-height: 30px;
	height: 100%;
	box-sizing: border-box;

	& .subject-area {
		height: var(--subject-height);
		padding: 1%;
	}

	& .list-area {
		height: calc(100% - var(--subject-height) - var(--bottom-height));
		--padding-spacing: 4px;
		padding-left: var(--padding-spacing);
		padding-right: var(--padding-spacing);

		&.grid {
			row-gap: 1px;

			& > div {
				display: grid;
				grid-template-columns: 100px 100px auto;
				column-gap: 2px;
			}

			& > div {
				display: grid;

				&.header > div {
					text-align: center;
					background-color: var(--sec-rec-thead-background);
					color: var(--sec-rec-thead-color);
					border-radius: 4px;
				}

				&.row > div {
					background-color: var(--sec-rec-tbody-background);
					color: var(--sec-rec-tbody-color);
					border-radius: 4px;

					display: flex;
					align-items: center;
					

					&:not(:last-child) {
						justify-content: center;
					}

					&:last-child {
						padding-left: 4px;
					}
				}
			}
		}
	}
}
