.grid {
	&.main-article {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: repeat(1, minmax(200px, auto));
		row-gap: 5px;
		column-gap: 5px;

		& .grid-item {
			padding: 6px;

			&.bar-area {
				grid-column: 1 / span 4;
				grid-row: 1 / span 2;
			}

			&.pie-area {
				grid-column: 1 / span 1;
			}

			&.commit-area {
				grid-column: 2 / span 3;

				& .commit-list {
					& .border {
						border: 1px solid #000;
					}
					display: grid;
					row-gap: 2px;;
					& .row {
						display: grid;
						grid-template-columns: repeat(12, 1fr);
						column-gap: 4px;

						& .date {
							grid-column: 1 / span 3;
						}
						
						& .user {
							grid-column: 4 / span 2;
						}

						& .message {
							grid-column: 6 / span 6;
						}
					}
				}
			}

			&.one-line {
				grid-column: 1 / span 4;
			}
		}
	}
}

.recent {
	--spacing: 6px;

	& .subject-area {}

	& .list-area {
		row-gap: 4px;

		& .grid.row {
			padding: 2px var(--spacing);

			&:hover {
				transition: all 500ms;
				background-color: var(--background-color-hover);
				&, & * {
					color: var(--color-hover);
				}
			}

			& .title {
				margin-bottom: 2px;
				a {
					font-size: 20px;
				}
			}
	
			& .info {
				font-size: 12px;
				font-weight: 400;
				padding-left: var(--spacing);
			}
		}
	}
}