.highlighter-rouge {
    --bracket-color: none;
    --commnet-area-color: none;
    --commnet-line-color: none;
    --declare-color: none;
    --double-quotation: none;
    --equal-color: none;
    --number-color: none;
    --object-key-color: none;
    --string-color: none;
    --variable-color: none;
    --color-mf: none;
    --color-nb: none;
    --color-kc: none;
    --color-k: none;

    div {
        .highlight {
            background-color: #f6f8fa;
            border: solid 1px #ccc;
            padding: 8px;
        }
    }

    & code {
        display: block;
        overflow: auto;

        .c1 {
            color: var(--commnet-line-color);
        }

        .cm {
            color: var(--commnet-area-color);
        }

        .kd {
            color: var(--declare-color);
        }

        .nx {
            color: var(--variable-color);
        }

        .o {
            color: var(--equal-color);
        }

        .p {
            color: var(--bracket-color);
        }

        .na {
            color: var(--object-key-color);
        }

        .dl {
            color: var(--double-quotation);
        }

        .s2 {
            color: var(--string-color);
        }

        .mi {
            color: var(--number-color);
        }

        .mf {
            color: var(--color-mf);
        }

        .nb {
            color: var(--color-nb);
        }

        .kc {
            color: var(--color-kc);
        }

        .k {
            color: var(--color-k);
        }
    }

    &.language-js {
        --bracket-color: #A463BF;
        --commnet-area-color: #506D30;
        --commnet-line-color: #506D30;
        --declare-color: #2128A6;
        --double-quotation: #C38654;
        --equal-color: #000000;
        --number-color: #648C51;
        --object-key-color: none;
        --string-color: #C38654;
        --variable-color: #000000;
        --color-mf: #648C51;
        --color-nb: #59A8D9;
        --color-kc: #59A8D9;
        --color-k: #A463BF;
    }
}