article {
    --subject-height: 50px;
    --pagination-height: 30px;
    --post-list-height: auto;
    --padding-spacing: 1%;

    & .subject {
        height: var(--subject-height);
        padding: var(--padding-spacing);
        line-height: 30px;
    }

    & .post-list {
        height: var(--post-list-height);
        padding: var(--padding-spacing);

        display: grid;
        row-gap: 5px;

        & .post {
            display: grid;
            column-gap: 5px;
            grid-template-columns: repeat(12, 1fr);
            grid-template-rows: repeat(1, minmax(100px, 15vh));
            --border-radius: 8px;
            --border-style: solid 1px rgba(128, 128, 128, 0.2);
            --spacing: 4px;

            padding-left: var(--spacing);
            padding-right: var(--spacing);

			&:hover {
				background-color: var(--grid-row-background-color-hover);
				transition: all 500ms;
                color: var(--grid-row-color-hover);
			}

            & .thumbnail {
                border-radius: var(border-radius);
                border: var(--border-style);
                grid-column: 1 / span 3;
                display: flex;
                align-items: center;
                background-color: rgba(black, 0.05);

                margin-top: var(--spacing);
                margin-bottom: var(--spacing);

                & img {
                    width: 100%;
                    height: auto;
                }
            }

            & .content {
                border-radius: var(border-radius);
                border: var(--border-style);
                max-height: 100%;
                grid-column: 4 / span 12;
                margin-top: var(--spacing);
                margin-bottom: var(--spacing);

                --title-height: 15%;
                --footer-height: 15%;
                --summary-height: 70%;

                .title, .summary, .footer {
                    padding-left: 10px;
                    padding-right: 10px;
                }

                & .title {
                    height: var(--title-height);
                    color: var(--sec-post-list-title-color);
                    background-color: var(--sec-post-list-title-background);
                }

                & .summary {
                    max-height: var(--summary-height);
					background-color: var(--sec-post-list-summary-background);
					color: var(--sec-post-list-summary-color);
                }

                & .footer {
                    height: var(--footer-height);
					background-color: var(--sec-post-list-footer-background);
					color: var(--sec-post-list-footer-color);
                    display: flex;
                    justify-content: end;
                }
            }
        }
    }

    & .pagination {
        height: var(--pagination-height);
        padding: var(--padding-spacing);
    }
}