article {
	--inner-spacing: 8px;

	& > div.border {
		// border: solid 1px rgba(green, 0.2);
	}

	& .header {
		display: grid;
		row-gap: 4px;
		padding: var(--inner-spacing);
		margin-bottom: 4px;
		background-color: var(--sec-post-header-background);

		.title {
			font-size: 30px;
			font-weight: 600;
			color: var(--sec-post-heade-title-color);
		}

		.info {
			display: grid;
			grid-template-columns: repeat(12, auto);
			font-size: 15px;
		}
	}

	& .content {
		padding: var(--inner-spacing);
		background-color: var(--sec-post-content-background);
		color: var(--sec-post-content-color);
	}
}