body > .wrapper {
	// 2023 color of a year
	--viva-magenta: #BE3455;
	--pale-dogwood: #EFD1C6;
	--gray-sand: #ECD5B8;
	--gray-lilac: #D4CACD;
	--pale-khaki: #BFAF92;
	--fields-of-rye: #B7A990;
	--agate-gray: #B4B5A5;
	--plein-air: #BFCAD6;
	// 2023 color of a year

	&.theme {
		--year-of-a-color: var(--viva-magenta);
		--background-color: var(--pale-dogwood);
		--background-color-hover: var(--gray-sand);
		--color: var(--viva-magenta);
		--color-hover: var(--viva-magenta);

		--a-color: var(--viva-magenta);
		--a-color-visited: var(--viva-magenta);
	}

	&.mint {
		--nav-background: #FFFFFF;
		--nav-color: #000000;
		--nav-wrapper-background: #FFFFFF;
		--nav-wrapper-color: #000000;
		--nav-menu-background-hover: #29961a;
		--nav-menu-color-hover: #FFFFFF;
		--nav-sub-menu-background-hover: #1a5612;
		--nav-sub-menu-color-hover: #FFFFFF;

		// --sec-div-background: rgba(100, 255, 150, 0.1);

		--sec-rec-thead-background: rgba(150, 255, 100, 0.7);
		--sec-rec-thead-color: rgba(0, 0, 0, 0.8);
		--sec-rec-tbody-background: rgba(150, 255, 150, 0.2);
		--sec-rec-tbody-color: #000000;

		--sec-post-list-title-background: #b0eecf;
		--sec-post-list-title-color: #000000;
		--sec-post-list-summary-background: #FFFFFF;
		--sec-post-list-summary-color: #000000;
		--sec-post-list-footer-background: #eaeaea;
		--sec-post-list-footer-color: #000000;
		--sec-post-list-background-hover: #b0eecf;

		--sec-post-header-background: rgba(100, 255, 30, 0.2);
		--sec-post-heade-title-color: rgba(10, 10, 10, 0.7);
		--sec-post-content-background: rgba(10, 255, 10, 0.1);
		--sec-post-content-color: rgba(0, 0, 0, 1);

		--sec-bc-background: rgba(0, 0, 0, 0.1);

		--table-row-hover-background: #29961a;
		--table-row-hover-color: rgba(255, 255, 255, 1);
	}
}