body > .wrapper {
	&.mint {
		--nav-background: #FFFFFF;
		--nav-color: #000000;
		--nav-wrapper-background: #FFFFFF;
		--nav-wrapper-color: #000000;
		--nav-menu-background-hover: #29961a;
		--nav-menu-color-hover: #FFFFFF;
		--nav-sub-menu-background-hover: #1a5612;
		--nav-sub-menu-color-hover: #FFFFFF;

		--sec-rec-thead-background: #e9e9e9;
		--sec-rec-tbody-background: #FFFFFF;

		--sec-post-list-title-background: #b0eecf;
		--sec-post-list-title-color: #000000;
		--sec-post-list-summary-background: #FFFFFF;
		--sec-post-list-summary-color: #000000;
		--sec-post-list-footer-background: #eaeaea;
		--sec-post-list-footer-color: #000000;
		--sec-post-list-background-hover: #b0eecf;

		--sec-post-header-background: #eaeaea;
		--sec-post-heade-title-color: #000000;
		--sec-post-content-background: #cfcfcf;

		--sec-bc-background: #9fc495;

		--table-row-hover-background: #29961a;
		--table-row-hover-color: #FFFFFF;
	}
}