* {
	user-select: none;
	text-decoration: none;
}

a {
	&:visited {
		color: grayscale($color: #000000);
	}
}

@media screen and (max-width: 1024px) {
	body {
		--width: 100vw;

		header {}

		section {
			display: grid;
			align-items: center;
		}
		
		nav {
			width: var(--width);
		}

		aside {
			width: var(--width);
		}
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;

	& * {
		box-sizing: border-box;
	}
}

header {
	height: 10vh;
	border-bottom: solid 1px black;
}

nav {
	padding: 6px;
	width: 10vw;
	border: solid 1px black;
	--visibility: hidden;
	--sub-menu-height: 0vh;
	--hover-transition: all 500ms;
	transition: var(--hover-transition);

	& .nav-wrapper {
		border: solid 1px gray;
	}

	& .menu {
		font-size: 20px;
		font-weight: 500;
		padding: 4px;
		transition: var(--hover-transition);

		&:hover {
			--visibility: visible;
			--sub-menu-height: 100%;
			background-color: rgba(blue, 0.1);
			transition: var(--hover-transition);
		}

		& a {
			display: block;
			width: 100%;
		}

		& .accordion {
			visibility: var(--visibility);
			height: var(--sub-menu-height);
			transition: var(--hover-transition);

			& .sub-menu {
				visibility: var(--visibility);
				transition: var(--hover-transition);
				cursor: pointer;
				font-size: 16px;
				font-weight: 400;
				margin-top: 4px;
				margin-left: 4px;

				&:hover {
					background-color: rgba(blue, 0.5);
					transition: var(--hover-transition);
				}
			}
		}
	}

}

aside {
	width: 10vw;
	border: solid 1px black;
}

section {
	display: flex;
	justify-content: center;
	min-height: 90vh;
}

article {
	border: solid 1px black;
	max-width: 960px;
	width: 100%;
	padding: 10px;

	&.border > div {
		border: solid 1px burlywood;
	}
}

footer {
	height: 10vh;
	border: solid 1px black;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.carousel {
	display: flex;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hidden {
	display: none;
}

.body {
	font-size: var(--font-size);
	font-weight: var(--font-weight);

	&.regular {
		--font-size: 14px;
		--font-weight: 400;
	}
	
	&.medium {
		--font-size: 16px;
		--font-weight: 500;
	}

	&.bold {
		--font-size: 16px;
		--font-weight: 700;
	}
}

.subtitle {
	font-size: var(--font-size);
	font-weight: var(--font-weight);

	&.regular {
		--font-size: 20px;
		--font-weight: 400;
	}
	
	&.medium {
		--font-size: 22px;
		--font-weight: 500;
	}

	&.bold {
		--font-size: 22px;
		--font-weight: 700;
	}
}