* {
	user-select: none;
	text-decoration: none;
}

a {
	color: var(--a-color);
	&:visited {
		color: var(--a-color-visited);
	}
}

.border {
	border: solid 1px var(--pale-dogwood);
}

@media screen and (max-width: 1024px) {
	body {
		--width: 100vw;

		header {}

		section {
			display: grid;
			align-items: center;
		}
		
		nav {
			width: var(--width);
		}

		aside {
			width: var(--width);
		}
	}
}

body {
	margin: 0;
	padding: 0;
	height: 100vh;

	& * {
		box-sizing: border-box;
	}
}

header {
	height: 10vh;
}

nav {
	padding: 6px;
	width: 10vw;
	--visibility: hidden;
	--sub-menu-height: 0vh;
	--hover-transition: all 500ms;
	background-color: var(--nav-background);
	color: var(--nav-color);

	& .nav-wrapper {
		border: solid 1px rgba(128, 128, 128, 0.3);
	}

	& .menu {
		font-size: 20px;
		font-weight: 500;
		padding: 4px;
		transition: var(--hover-transition);

		&:hover {
			--visibility: visible;
			--sub-menu-height: 100%;
			background-color: var(--nav-menu-background-hover);
			color: var(--nav-menu-color-hover);
			transition: var(--hover-transition);

			& > a {
				color: var(--nav-menu-color-hover);
			}
		}

		& a {
			display: block;
			width: 100%;
		}

		& .accordion {
			visibility: var(--visibility);
			height: var(--sub-menu-height);
			transition: var(--hover-transition);

			& .sub-menu {
				visibility: var(--visibility);
				transition: var(--hover-transition);
				cursor: pointer;
				font-size: 16px;
				font-weight: 400;
				margin-top: 4px;
				margin-left: 4px;

				&:hover {
					background-color: var(--nav-sub-menu-background-hover);
					color: var(--nav-sub-menu-color-hover);
					transition: var(--hover-transition);

					& a {
						color: var(--nav-sub-menu-color-hover);
					}
				}
			}
		}
	}

}

aside {
	width: 10vw;
}

section {
	display: flex;
	justify-content: center;
	// min-height: 90vh;
}

article {
	max-width: 960px;
	width: 100%;
	padding: 8px;
}

.breadcrumb {
	display: flex;
	font-size: 14px;
	font-weight: 500;
	padding: 5px;
	line-height: 18px;
	background-color: var(--sec-bc-background);
	margin-bottom: 4px;

	& a, & span {
		color: #000000;

		&:visited {
			color: #000000;
		}

		&::before {
			content: ">";
			padding-left: 4px;
			padding-right: 4px;
		}
	}

	& span {
		color: #000000;
	}
}

.table {
	& .row:hover {
		& > div {
			background-color: var(--table-row-hover-background) !important;
			color: var(--table-row-hover-color) !important;
			transition: all 200ms;

			& a {
				color: var(--table-row-hover-color) !important;
			}
		}
	}
}

footer {
	height: 10vh;
}

.grid {
	display: grid;
}

.flex {
	display: flex;
}

.carousel {
	display: flex;
}

.ellipsis {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.hidden {
	display: none;
}

.body {
	font-size: var(--font-size);
	font-weight: var(--font-weight);

	&.regular {
		--font-size: 14px;
		--font-weight: 400;
	}
	
	&.medium {
		--font-size: 16px;
		--font-weight: 500;
	}

	&.bold {
		--font-size: 16px;
		--font-weight: 700;
	}
}

.subtitle {
	font-size: var(--font-size);
	font-weight: var(--font-weight);

	&.regular {
		--font-size: 20px;
		--font-weight: 400;
	}
	
	&.medium {
		--font-size: 22px;
		--font-weight: 500;
	}

	&.bold {
		--font-size: 22px;
		--font-weight: 700;
	}
}

.current {
	@at-root {
		span#{&} {
			color: rgba(0, 0, 0, 0.5);
		}
	}
}

.tag-list-wrapper {
	display: block;

	& .tag-list-header {}

	& .category-tag-list {
		width: 100%;
		display: flex;
		justify-content: start;
		flex-wrap: wrap;
		padding: 4px;
	
		& .category.tag {
			width: fit-content;
			font-size: 12px;
			font-weight: 600;
			background: var(--background-color);
			color: var(--color);
	
			padding: 2px 4px;
	
			border-radius: 3px;
			margin-right: 4px;
			margin-bottom: 4px;;
		}
	}
}

.title-before {
	color: var(--color);
	font-weight: 700;
	margin-bottom: 4px;
	
	&::before {
		content: "";
		border-left: 6px solid var(--year-of-a-color);
		margin-right: 4px;
	}
}