<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/categoryList.css">
	<script src="/assets/js/layout/categoryList.js" type="module"></script>
	<title>{{ site.title }}</title>
</head>
<body>
	<div class="wrapper theme">
		{% include header.html %}
		<section>
			{% include nav.html %}
			<article class="">
				{% include breadcrumb.html %}
				<div class="category-list">
				{% for category in site.categories %}
					{% assign cat = category | first %}
					<div class="title-before">
						<a href="{{site.data.url.ref.catPostList}}?cat={{cat}}">{{ cat }}</a>
					</div>
					<div class="post-list grid">
					{% for post in site.categories[cat] %}
						<div class="grid row">
							<div class="title ellipsis">
								<a href="{{post.url}}">{{ post.title }}</a>
							</div>
							<div class="date">
								{{ post.date }}
							</div>
						</div>
					{% endfor %}
					</div>
				{% endfor %}
				</div>
			</article>
			{% include aside.html %}
		</section>
		<!-- {% include footer.html %} -->
	</div>
</body>
</html>