<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/postList.css">
	<script src="/assets/js/layout/postList.js" type="module"></script>
	<title>{{ site.title }}</title>
</head>
<body>
	<div class="wrapper theme">

		{% include header.html %}
		<section>
			{% include nav.html %}
			<article class="border">
				{% include breadcrumb.html %}
				<div class="subject">
					<span class="subtitle bold">{{ page.title }}</span>
				</div>
				<div class="post-list"></div>
				<div class="pagination">
					pagination
				</div>
			</article>
			{% include aside.html %}
		</section>
		<!-- {% include footer.html %} -->
	</div>
</body>
</html>