<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" href="/assets/css/postList.css">
	<title>{{ site.title }}</title>
</head>
<body>
	{% include header.html %}
	<section>
		{% include nav.html %}
		<article class="border">
			<div class="breadcrumb">
                breadcrumb
            </div>
            <div class="subject">
                subject
            </div>
            <div class="post-list">
				{% for post in site.posts %}
				<div class="post">
					<div class="thumbnail">
						<img src="{{ post.thumbnail }}" onerror='this.src="/assets/img/empty/no_thumbnail.png"'>
					</div>
					<div class="content">
						<div class="title ellipsis">{{ post.title }}</div>
						<div class="summary ellipsis">
							{% assign content = post.content | lstrip %}
							{% if content == "" %}
								no content...
							{% else %}
								{{ post.content }}
							{% endif %}

						</div>
						<div class="footer">
							<a href="{{ post.url }}">more</a>
						</div>
					</div>
				</div>
				{% endfor%}
            </div>
            <div class="pagination">
                pagination
            </div>
		</article>
		{% include aside.html %}
	</section>
	<!-- {% include footer.html %} -->
</body>
</html>